body {
  font-family: Arial, sans-serif;
  background-color: #e8f1f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 330px;
  text-align: center;
}

h2 {
  color: #0077b6;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input, select {
  padding: 8px;
  width: 80%;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.selects {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0096c7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0077b6;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #023e8a;
}
